<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="wrapper fadeInDown height-maximo">
    <div id="formContent">
        <div class="fadeIn first p-3">
            <a class="underlineHover">DEMO</a>
        </div>
        <div>
            <form [hidden]="ehRegistro()" [formGroup]="formLogin">
                <input type="text" id="login" class="fadeIn third" formControlName="emailDocumento"
                    [(ngModel)]="login.email" placeholder="E-mail">
                <input type="password" id="senha" class="fadeIn third" formControlName="senha" [(ngModel)]="login.senha"
                    placeholder="Senha">
                <input type="submit" class="fadeIn fourth" value="Entrar" (click)="doLogin()">
            </form>
        </div>
        <div [hidden]="!ehRegistro()">
            <form [formGroup]="form">
                <input type="text" class="fadeIn third" formControlName="nome" [(ngModel)]="pessoa.nome"
                    placeholder="Nome">
                <input type="text" class="fadeIn third" formControlName="email" [(ngModel)]="pessoa.email"
                    placeholder="E-mail">
                <input type="password" class="fadeIn third" formControlName="senha" [(ngModel)]="pessoa.senha"
                    placeholder="Senha">
                <input type="password" class="fadeIn third" placeholder="Confirmar senha" formControlName="confirmacao">
            </form>
            <div class="small">
                <small [hidden]="confirmacaoSenha()">Senhas não coincidem</small>
            </div>
            <input type="submit" class="fadeIn fourth" value="Registrar-se" (click)="registrar()">
        </div>
        <input type="button" class="fadeIn fourth botao-voltar" value="Voltar" (click)="voltarHome()">
        <div id="formFooter" [hidden]="ehRegistro()">
            <a class="underlineHover" (click)="recuperarSenha()">Esqueceu a senha?</a>
        </div>
        <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
    </div>
</div>